<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="SolutionFile" value="MITD.Inventory.WithoutTests.sln"/>
    <add key="SolutionPath" value="..\Inventory"/>
    <add key="ValidNameSpace" value="MITD,Haj"/>
    <add key="ExcludeSearchPattern" value="Haj.Procurement.Acl.Accounting,Haj.maintenance.App.csproj"/>
    
  </appSettings>
</configuration>



<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SolutionFile" value="solution1.sln"/>
    <add key="SolutionPath" value="..\soultion1"/>
    <add key="ValidNameSpace" value="NameSpace1,NameSpace2"/>
    <add key="ExcludeSearchPattern" value="NameSpace1.Accounting,maintenance.App.csproj"/>

  </appSettings>
</configuration>-->
